
SuperMarioSFML/nbproject/configurations.xml
SuperMarioSFML/nbproject/Makefile-Debug.mk
SuperMarioSFML/nbproject/Makefile-impl.mk
SuperMarioSFML/nbproject/Makefile-Release.mk
SuperMarioSFML/nbproject/Makefile-variables.mk
SuperMarioSFML/nbproject/Package-Debug.bash
SuperMarioSFML/nbproject/Package-Release.bash
SuperMarioSFML/nbproject/private/c_standard_headers_indexer.c
SuperMarioSFML/nbproject/private/configurations.xml
SuperMarioSFML/nbproject/private/cpp_standard_headers_indexer.cpp
SuperMarioSFML/nbproject/private/launcher.properties
SuperMarioSFML/nbproject/private/Makefile-variables.mk
SuperMarioSFML/nbproject/private/private.xml
SuperMarioSFML/nbproject/project.xml
*.inc
*.o
*.d
*.exe
